.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.imageCover {
  height: 197px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: all .5s;
  }
  > img:hover {
    transform: scale(1.05);
    position: relative;
    transition: all .5s;
  }
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .75);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
}
.coverColumn {
  flex-direction: column;
}
.time {
  display: inline-block;
  margin: auto 8px;
  color: #68b92e;
  font-size: 30px;
}
.percent {
  font-size: 40px;
  color: #68b92e;
}
.sign {
  font-size: 18px;
  color: #68b92e;
  margin-left: 4px;
}
.doningText {
  padding-top: 12px;
}