.bgCanvas {
  position: absolute;
}


.pageHeader {
  position: absolute;
  width: 680px;
  height: 80px;
  left: 620px;
}

.topLayout {
}

.leftTop {
  display: flex;
  padding-top: 80px;
  margin-left: 80px;
}

.leftTop > div{
  width: 400px;
  height: 355px;
  display: inline-block;
}

.rightTop {
  display: flex;
  position: absolute;
  top: 80px;
  left: 1060px;
}

.rightTop > div{
  width: 400px;
  height: 355px;
  display: inline-block;
}

.bottomLayout {}

.bottomLeft {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 580px;
  left: 90px;
}

.bottomLeftItem {
  width: 100%;
  height: 150px;
  margin-bottom: 40px;
}

.bottomMid {
  width: 640px;
  height: 640px;
  position: absolute;
  top: 430px;
  left: 650px;
}

.bottomRight {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 600px;
  right: 60px;
}

