.container{
    width: 1142px;
    height: 269px;
    color:#fff;
}

.header{
    width: 23px;
    font-size: 22px;
    line-height: 24px;
    margin-left: 4px;
    margin-top: 48px;
}
.table{
    position: absolute;
    width:1092px;
    left: 40px;
    top:-56px;
    text-align: center;
    border-collapse:collapse;
}
.table th {
    padding-top: 10px;
    background-color: rgba(0,230,238,0.1);
    padding-bottom: 10px;
    color: rgb(0,230,238);
    font-size: 15px;
    width:1095px;
    height:36px;
}
.table tr{
    width:1095px;
    height:46px;
}
.table td{
    font-size: 14px;
}
.table tr:nth-child(even){
    background-color: rgba(9,32,63,0.8);
}
.safety{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: green;
    margin: 0 auto;
}
.warn{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: yellow;
    margin: 0 auto;
}
.danger{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: red;
    margin: 0 auto;
}
.troyanIcon{
  width:28px;
  height:19px;
  background: url("../images/troyan.png")  no-repeat;
  margin:auto;
}
.virusIcon{
  width:32px;
  height:32px;
  background: url("../images/virus.png")  no-repeat;
  margin:auto;
}
.wormIcon{
  width:24px;
  height:24px;
  background: url("../images/worm.png")  no-repeat;
  margin:auto;
}
.malwareIcon{
  width:24px;
  height:26px;
  background: url("../images/malware.png")  no-repeat;
  margin:auto;
}
.noData {
  font-size: 1.2em;
  color: rgba(255, 255, 255, .4);
  position: absolute;
  top: 10.5em;
  width: 100%;
}

.noData > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noDataIcon {
  color: rgba(90, 204, 242, .4);
  font-size: 1.4em;
  margin-right: .5em;
}