.container {
  margin-top: 30px;
  width: 90%;
  max-width: 900px;
}

.articleList {
}

.articleCard {
  display: flex;
  background-color: #ffffff;
  height: 150px;
  margin: 25px auto;
}

.articleCardLink {
  background: #c9cfd2;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.articleCardLink:hover {
  background: #bdecff;
}

.articleCardDoc {
  width: 90%;  
  padding: 10px 30px;
}

.articleCardHeader {
  height: 50px;
  line-height: 2em;
  font-size: 1em;
  font-family: Microsoft-YaHei;
  font-weight: 800;
  color: black;
}

.articleCardContent {
  font-size: 15px;
  color: #000;
  height: 50px;
}

.articleCardTime {
  
}

.articlePageSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articlePageBtnContainer {
  width: 150px;

  button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    height: 30px;
  }

  button:hover {
    color: rgb(237, 128, 95);
    border: 1px solid rgb(237, 128, 95);
  }
}

.articleCount {
  color: #fff;
}