.container {

}

.header {
  color: #fff;
  padding: 1.2rem 2rem;
}

.content {
  padding: 1.8rem 2rem;
  display: flex;
  align-items: center;
}

.itemLine {
  margin-bottom: 3rem;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.column {
  width: 20%;
  min-width: 84px;
  text-align: center;
}

.firstLine {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.secondLine {
  height: 3rem;
  padding: 1rem 0;
}

.number {
  font-size: 1rem;
  width: 3rem;
  height: 1.8rem;
  border-radius: .4rem;
  background: #424952;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flag {
  width: 3rem;
  height: 1.8rem;
}

.country {
  color: #fff;
  height: 5rem;
  padding: 1rem 0;
}

.flow {
  color: #5ACCF2;
}

.noData {
  font-size: 1.2em;
  color: rgba(255, 255, 255, .4);
  position: absolute;
  top: 6.5em;
  width: 100%;
}

.noData > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noDataIcon {
  color: rgba(90, 204, 242, .4);
  font-size: 1.4em;
  margin-right: .5em;
}