.container {
  width: 100%;
  height: 100%;
}

.noData {
  font-size: 1.2em;
  color: rgba(255, 255, 255, .4);
  position: absolute;
  top: 10.5em;
  width: 100%;
}

.noData > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noDataIcon {
  color: rgba(90, 204, 242, .4);
  font-size: 1.4em;
  margin-right: .5em;
}

.header span{
  font-size: 24px;
  color: #c2cbe0;
}

.header:before {
  width: 12px;
  height: 12px;
  border: 3px solid #00e4ff;
  position: absolute;
  content: "";
  margin-top: 15px;
  margin-left: -20px;
}
