.container {
  font-family: "Microsoft YaHei";
  width: 690px;
  height: 282px;
  margin-top: -10px;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 643px;
  min-height: 220px;
  margin-left: -8px;
}

.header {  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 12px 0;  
  font-size: 22px;
}
.selector {
  text-align: center;
  margin-bottom: 15px
}

.noData {
  font-size: 1.2em;
  color: rgba(255, 255, 255, .4);
  position: absolute;
  top: 10.5em;
  width: 100%;
}

.noData > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noDataIcon {
  color: rgba(90, 204, 242, .4);
  font-size: 1.4em;
  margin-right: .5em;
}
.content {
  padding: 0 20px;
  height: calc(100% - 46px);
}
table {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: transparent;
  border: none;
}
thead {
  color: #1be0e9;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  background-color: #0c3758;
}
tr >th {
  font-weight: 500;
}
tr >th:nth-child(1) {
  padding-left: 10px;
}
tr >td:nth-child(1) {
  padding-left: 10px;
}
tbody >tr {
  font-size: 12px;
  color: #fff;
  height: 40px;
}
tbody >tr:nth-child(even) {
  background-color: rgba(4, 14, 37, 0.5);

}
.divisionBottom {
  background: url("../images/div_top.png") no-repeat center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  width: calc(100% + 75px);
  height: 1px;
  padding: 0;
  margin-left: -38px;
}
.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #8bffa3;
  position: relative;
}
.circle:after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: rgb(4, 37, 100);
  position: absolute;
  left: 2px;
  top: 2px;
}
.arrow {
  background: url("../images/arrow.png") no-repeat center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  width: 16px;
  height: 12px;
  padding: 0;
}

.divisionTop {
  background: url("../images/div_top.png") no-repeat center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  width: 690px;
  margin-left: -30px;
  height: 1px;
  margin-bottom: 0;
  padding: 0;
}