.container {
  max-width: 1200px;
  margin: auto;
  background: rgb(34, 44, 53);
  font-family: 'Microsoft-YaHei';
  padding-bottom: 50px;
}

.header {
  display: flex;
}

.logo {
  color: #ffffff;
  font-size: 20px;
  width: 100px;
  margin: 20px;
  height: 130px;
  text-align: center;
  line-height: 50px;
  align-items: center;
  border: 1px solid;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.easonLogo {
  width: 100%;  
}

.expandMenu {
  padding-top: 10px;
  width: 100%;
}

.expandMenuHeaderBar {
  display: flex;
}

.expandMenuBarItem {
  color: #ffffff;
  margin: 0px 25px 10px 0;
  font-size: 20px;

  a {
    color: #ffffff;
  }
}

.expandMenuBarItemSelected {
  border-bottom: 1px solid #ffffff;
}

.expandMenuContent {
  display: flex;
  flex-wrap: wrap;
}

.subMenuItem {
  width: 300px,
}

.subMenuItem:hover {
  color: #fff;
  background: burlywood;
}

.pageContent {
  display: flex;
  padding: 0 20px;
  justify-content: center;
}

.navSection {
  width: 200px;
  margin-right: 100px;
  margin-top: 100px;
}

.navSectionAll {
  color: #fff;
  border-bottom: 1px solid #ffffffa6;
}

.navSectionItem {
  color: #eaeaea;
  margin: 15px 15px;
}

.navSectionItem:hover {
  color: #ffffff;
}

@media screen and (max-width: 900px) {
  .subMenuItem {
    width: unset,
  }
}
