.container{
    width:571px;
    height:296px;
    color:#fff;
}
.header{
    margin-top:18px;
    margin-left:19px;
    font-size:22px;
}

.barChart{
    position:absolute;
    top:-15px;
    left:-30px;
}