.container {
  width: 1150px;
  height: 100%;
  margin: auto;
  padding-top: 24px;
  padding-bottom: 80px;
}

.modeContent {
  width: 1150px;
  height: 100%;
  margin: auto;
  padding-top: 40px;
}

.header {
  width: 100%;
  background: #fff;
  > div {
    width: 1150px;
    margin: auto;
    padding: 24px 0 16px;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.85);
    .titleDescription {
      margin-top: 16px;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      color: rgba(0, 0, 0, 0.45);
    }
  }
}

.groupName {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 24px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background: #fff;
  padding: 8px 0;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .1);
  div {
    width: 1150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 510px;
  .modeChoice {
    width: 250px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, .85);
    margin: auto 48px;
    cursor: pointer;
    .modeCard {
      width: 250px;
      height: 230px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px rgba(0, 0, 0, .15) solid;
      border-radius: 4px;
      > div {
        padding: 12px 0 0;
      }
    }
    .modeDescription {
      margin-top: 8px;
      font-size: 14px;
      color: rgba(102, 102, 102, .85);
      text-align: center;
    }
  }
  .modeChoice:hover {
    .modeCard {
      border-color: #68b92e;
    }
  }
}