.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  width: 100%;
  height: calc(100% - 32px);
  position: relative;
  top: 32px;
}
