.header {
  position: fixed;
  z-index: 99;
  height: 64px;
  width: 100%;
  background: #000C19;
  display: flex;
  align-items: center;
  padding: 0 32px;
  .saveButton {
    position: absolute;
    right: 32px;
  }
}

.breadcrumb a, .breadcrumb span{
  color: rgba(255, 255, 255, .45);
}

.preview {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 12, 25, .9);
}

.previewContent {
  max-width: 700px;
}

.formArea {
  padding: 32px;
}

.formCard {
  margin-bottom: 32px;
}

.example {
  > div {
    margin-bottom: 8px;
  }
}
.editTitle {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  i {
    font-weight: 700;
    color: #333;
    cursor: pointer;
  }
}

@media(min-width: 1200px) {
  .preview {
    position: fixed;
    width: 58.3333333%;
    min-width: 700px;
    height: calc(100vh - 64px);
    overflow: auto;
  }
  .formArea {
    position: fixed;
    width: 41.6666666%;
    height: calc(100vh - 64px);
    overflow: auto;
    right: 0;
  }
}

@media(max-width: 1199px) {
  .preview {
    width: 100%;
    min-width: 700px;
    height: calc(100vh - 64px);
  }
  .formArea {
    width: 100%;
  }
}