.header {
  height: 64px;
  width: 100%;
  background: #000C19;
  display: flex;
  align-items: center;
  padding: 0 32px;
  .deployButton {
    position: absolute;
    right: 32px;
  }
}

.breadcrumb a, .breadcrumb span{
  color: rgba(255, 255, 255, .45);
}

.editArea {
  display: inline-block;
  height: 39px;
  color: #fff;
  .text {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
.editIcon {
  color: rgba(255, 255, 255, .45);
  margin-left: 8px;
  cursor: pointer;
}