@import "../theme/font.scss";
.container {
  font-family: "Microsoft YaHei";
  width: 433px;
  height: 258px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  color: #fff;  
  margin-top: -10px;
}
.bg {
  background: url("../images/left_1_bg.png") no-repeat center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 0px;
  width: 100%;
}
.rateBg {
  background: url("../images/dns.png") no-repeat center;
  background-size: 86px 86px;
  display: flex;
  flex-direction: column;
  width: 86px;
}
.header {
  display: flex;
  height: 48px;
  line-height: 48px;
  font-size: 22px;
}
.content {
  display: flex;
  flex-direction: column;
  height: 210px;
}
.rate {
  height: 122px;
  display: flex;
  justify-content: center;
}
.rateText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  margin-left: 20px;
}
.rateNumber {
  font-family: 'DS-Digital-Bold';
  color: #8bffa3;
  font-size: 54px;
}
.countCon {
  height: 88px;
  display: flex;
}
.count {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
  justify-content: center;
}
.countNumber {
  color: #1be0e9;
  font-size: 36px;
}
.noData {
  font-size: 1.2em;
  color: rgba(255, 255, 255, .4);
  position: absolute;
  top: 10.5em;
  width: 100%;
}

.noData > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noDataIcon {
  color: rgba(90, 204, 242, .4);
  font-size: 1.4em;
  margin-right: .5em;
}