.container{
    width: 1142px;
    height: 266px;
     color: #fff;
}
.topTitle{
    background: url("../images/title_line.png")  no-repeat ;
    background-size: contain;
    position: absolute;
    top:0px;
    left:0px;
    width: 1146px;
    height: 49px;
    font-size: 22px;
}
.topTitleText{
    margin-top:8px;
    margin-left:10px;
}
.topContent{
    background: url("../images/top_bg.png")  no-repeat  center;
    position: absolute;
    left:0;
    top:49px;
    height: 207px;
    width: 1146px;
    margin:8px 0;
    font-size:22px;
}
.troyan{
  background: url("../images/troyan.png")  no-repeat  ;
  position: absolute;
  top:64px;
  left:84px;
  width: 28px;
  height: 19px;
}
.troyanText{
  position: absolute;
  top:57px;
  left:125px;
}
.virus{
  background: url("../images/virus.png")  no-repeat  ;
  position: absolute;
  top:128px;
  left:82px;
  width: 32px;
  height: 32px;
}
.virusText{
  position: absolute;
  top:125px;
  left:126px;
}
.worm{
  background: url("../images/worm.png")  no-repeat  ;
  position: absolute;
  top:59px;
  left:822px;
  width: 24px;
  height: 24px;
}
.wormText{
  position: absolute;
  top:56px;
  left:855px;
}
.malware{
  background: url("../images/malware.png")  no-repeat  ;
  position: absolute;
  top:128px;
  left:825px;
  width: 24px;
  height: 26px;
}
.malwareText{
  position: absolute;
  top:125px;
  left:854px;
}
.ghost{
  background: url("../images/ghost.png")  no-repeat  ;
  position: absolute;
  left:494px;
  top:49px;
  width: 48px;
  height: 54px;
}
.ghostNum{
  position: absolute;
  top:57px;
  left:550px;
  font-size:36px;
  color:#e95a4b;
}
.ghostText{
  position: absolute;
  top:104px;
  left:461px;
}